.about {
  padding: 48px 0;

  @include for-size(tablet) {
    padding: 80px 0;
  }

  @include for-size(desktop-1440) {
    display: flex;
    padding: 100px 0 118px;
  }

  @include for-size(tablet) {
    & > div {
      display: flex;
      gap: 32px;
      margin-top: 48px;
    }
  }

  @include for-size(desktop-1440) {
    & > div {
      margin-top: 0;
      gap: 40px;
    }
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: $font-weight-primary;
    font-size: $font-size-primary;
    line-height: 0.9;
    letter-spacing: $letter-spacing-primary;
    color: $title-text-color;

    @include for-size(desktop-1440) {
      min-width: 320px;
      margin-right: 100px;
      font-size: 62px;
    }
  }

  &__text {
    flex-basis: calc(100% / 2 - 16px);
    margin: 31px 0 0;
    font-style: normal;
    font-weight: $font-weight-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    color: $primary-text-color;

    @include for-size(tablet) {
      margin: 0;
    }

    @include for-size(desktop-1440) {
      flex-basis: calc(100% / 2 - 20px);
    }
  }
}
