.send-resume {
  padding: 62px 0 48px;

  @include for-size(tablet) {
    padding-bottom: 70px;
  }

  @include for-size(desktop-1440) {
    display: flex;
    padding: 100px 0;
  }

  @include for-size(tablet) {
    & > div {
      display: flex;
    }
  }

  @include for-size(desktop-1440) {
    & > div {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: $font-weight-primary;
    font-size: $font-size-primary;
    line-height: $line-height-primary;
    letter-spacing: $letter-spacing-primary;
    color: #000000;

    @include for-size(tablet) {
      max-width: 280px;
      margin-right: 94px;
    }

    @include for-size(desktop-1440) {
      max-width: 540px;
      font-size: 62px;
      margin-right: 96px;
    }
  }

  &__text {
    margin-top: 16px;
    font-weight: $font-weight-secondary;
    font-size: $font-size-secondary;
    line-height: 1.56;
    color: #000000;

    @include for-size(tablet) {
      margin-top: 20px;
      max-width: 267px;
    }

    @include for-size(desktop-1440) {
      margin-top: 50px;
      font-size: 24px;
      max-width: 400px;
    }
  }
}
