@keyframes spinning {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-80%, -40%) scale(0.7, 0.7);
  }
  60% {
    transform: translate(50%, 90%);
  }
  80% {
    transform: translate(-20%, -80%) scale(1.3, 1.3);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.animated-container {
  position: relative;
  overflow: hidden;
}

.blurred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(130px);
  z-index: -100;
}

.bobble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  animation: spinning 30s linear infinite alternate forwards;
}

.bobble:nth-child(1) {
  background-color: #03cea4;
  top: 10%;
  left: 10%;
}

.bobble:nth-child(2) {
  background-color: #1ac8ed;
  top: 50%;
  left: 30%;
}

.bobble:nth-child(3) {
  background-color: #2dc7ff;
  top: 70%;
  left: 70%;
}

.bobble:nth-child(4) {
  background-color: #6665dd;
  top: 10%;
  left: 60%;
}

.bobble:nth-child(5) {
  background-color: #e40066;
  top: 90%;
  left: 10%;
}

.bobble:nth-child(6) {
  background-color: #e56399;
  top: 50%;
  left: 30%;
}

.bobble:nth-child(7) {
  background-color: #eb9fef;
  top: 70%;
  left: 10%;
}

.bobble:nth-child(8) {
  background-color: #fad204;
  top: 40%;
  left: 20%;
}

.bobble:nth-child(9) {
  background-color: #ff6b35;
  top: 30%;
  left: 70%;
}
