.swiper-benefits {
  overflow: visible !important;
}

.benefits-list {
  margin: 55px 0 32px;
  padding: 0;
  list-style: none;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    position: relative;
    max-width: 280px;
    min-height: 551px;
    padding: 34px 20px;
    background: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
    box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
      0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
      0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    z-index: 0;

    @media screen and (min-width: 610px) {
      max-width: 359px;
    }

    @include for-size(desktop-1440) {
      max-width: 494px;
      min-height: 591px;
      padding: 50px 70px;
    }
  }

  &__main-title {
    font-weight: 800;
    font-size: $font-size-primary;
    line-height: $line-height-primary;
    text-align: center;
    letter-spacing: $letter-spacing-primary;
    color: $title-text-color;
  }

  &__sublist {
    margin: 24px 0 0;
    padding: 0;
    list-style: none;
    font-weight: $font-weight-secondary;
    font-size: $font-size-secondary;
    line-height: 1.56;
    color: #596067;
  }

  &__sublist > li {
    display: flex;
    margin: 0 0 15px;
  }

  &__sublist > li svg {
    margin-right: 22px;

    @include for-size(desktop-1440) {
      margin-right: 36px;
    }
  }

  &__sublist > li p {
    padding: 0 0 15px;
    width: 100%;
    border-bottom: 1px solid rgba(72, 85, 99, 0.2);
  }

  &__sublist > li:last-child p {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.benefits-image__positive {
  display: block;
  width: 111px;
  height: 123px;
  margin: 0 auto 25px;
}

.benefits-image__negative {
  display: block;
  width: 123px;
  height: 111px;
  margin: 0 auto 39px;
}

.check-icon,
.cross-icon {
  display: none;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.09),
    0px 4px 4px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.09),
    0px 1px 1px rgba(0, 0, 0, 0.09);

  @include for-size(tablet) {
    display: block;
  }
}
