@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-65%);
  }
}

.image-box {
  position: relative;
  width: 100vw;
  margin-top: 42px;
  overflow: hidden;

  @include for-size(tablet) {
    margin-top: 19px;
  }

  @include for-size(desktop-1440) {
    margin-top: 100px;
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%);
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: run 40s ease-in-out infinite alternate;
  }

  &__list:nth-child(odd) {
    position: relative;
    left: -30%;
    animation: run 35s ease-in-out infinite alternate;
  }

  &__list:nth-child(3) {
    animation: run 50s ease-in-out infinite alternate;
  }

  &__list:nth-child(-n + 2) {
    margin-bottom: 6px;

    @include for-size(tablet) {
      margin-bottom: 10px;
    }

    @include for-size(desktop) {
      margin-bottom: 20px;
    }
  }

  &__list:hover {
    animation-play-state: paused;
  }

  &__item {
    position: relative;
    border-radius: 10px;
    min-width: 119px;
    height: 67px;
    overflow: hidden;

    @include for-size(tablet) {
      min-width: 188px;
      height: 105px;
    }

    @include for-size(desktop) {
      min-width: 378px;
      height: 212px;
    }
  }

  @include for-size(desktop) {
    &__item::after {
      content: 'See All Roles';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $accent-color;
      opacity: 0;
      pointer-events: none;
      font-weight: 800;
      font-size: 28px;
      line-height: 1.2;
      color: $background-hero-color;
      transition: all 300ms linear;
    }

    &__item:hover::after {
      opacity: 0.9;
      transition: all 300ms linear;
    }
  }

  &__item:nth-child(-n + 13) {
    margin-right: 6px;

    @include for-size(tablet) {
      margin-right: 10px;
    }

    @include for-size(desktop) {
      margin-right: 20px;
    }
  }
}
