.load-more-button {
  display: block;
  width: 280px;
  height: 73px;
  margin: 32px auto 0;
  padding: 27px 16px;
  background: #18e8a4;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.09),
    0px 4px 4px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.09),
    0px 1px 1px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 10px;
  font-weight: $font-weight-primary;
  font-size: $font-size-secondary;
  line-height: 1.2;
  text-align: center;
  color: $primary-text-color;
  cursor: pointer;
  transition: box-shadow 300ms linear;

  @include for-size(tablet) {
    margin-top: 48px;
  }

  @include for-size(desktop-1440) {
    margin-top: 56px;
    width: 404px;
  }
}

.load-more-button:hover,
.load-more-button:focus {
  box-shadow: 0px 6px 21px -2px rgba(22, 202, 99, 0.83);
  transition: box-shadow 300ms linear;
}
