.swiper {
  overflow: visible !important;

  @include for-size(desktop-1440) {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.process-list {
  margin: 55px 0 108px;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    max-width: 280px;
    min-height: 514px;
    padding: 32px 24px;
    background: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
    box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
      0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
      0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    z-index: 0;

    @include for-size(tablet) {
      max-width: 354px;
    }

    @include for-size(desktop-1440) {
      max-width: 620px;
      min-height: 457px;
      padding: 56px 24px 24px;
    }
  }

  @include for-size(desktop-1440) {
    &__item:first-child {
      margin-right: 10px;
    }
  }

  &__main-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: $line-height-primary;
    text-transform: uppercase;
    color: $primary-text-color;

    @include for-size(desktop-1440) {
      min-width: 254px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: $font-size-primary;
    line-height: $line-height-primary;
    letter-spacing: $letter-spacing-primary;
    color: #202523;

    @include for-size(desktop-1440) {
      max-width: 254px;
      font-size: 36px;
      margin-bottom: 16px;
    }
  }

  @include for-size(desktop-1440) {
    &__subtitle + div {
      display: flex;
      gap: 24px;
    }
  }

  &__text {
    font-weight: $font-weight-secondary;
    font-size: $font-size-secondary;
    line-height: 1.56;
    color: #596067;
  }

  @include for-size(desktop-1440) {
    &__text {
      max-width: 300px;
    }
  }

  &__number {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    font-style: normal;
    font-weight: $font-weight-primary;
    font-size: 260px;
    line-height: 100%;
    letter-spacing: $letter-spacing-primary;
    color: #efdcfb;
    z-index: -1;

    @include for-size(desktop-1440) {
      right: 40px;
      transform: translateX(0);
    }
  }

  &__number--secondary {
    color: #cfecfa;
  }
}
