.send-resume-form {
  margin-top: 32px;

  @include for-size(desktop-1440) {
    margin-top: 0;
    width: 640px;
  }

  @include for-size(tablet) {
    & > div {
      display: flex;
      gap: 20px;
    }

    & > div > label {
      flex-basis: calc(100% / 2 - 10px);
      margin-bottom: 31px;
    }
  }

  @include for-size(desktop-1440) {
    & > div {
      gap: 24px;
    }

    & > div > label {
      flex-basis: calc(100% / 2 - 12px);
      margin-bottom: 37px;
    }
  }

  & label {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  & input,
  & textarea {
    padding: 6px 0;
    height: 32px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #a4afc1;
    outline: none;
  }

  & textarea {
    resize: none;
  }

  & label > span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #5e636b;
    transition: all 300ms linear;
    transform-origin: left;
  }

  & input:not(:placeholder-shown) + span,
  & textarea:not(:placeholder-shown) + span,
  & input:focus + span,
  & textarea:focus + span {
    top: -80%;
    transform: translateY(50%) scale(0.75);
    transition: all 200ms linear;
    transform-origin: left;
  }

  &__file > input {
    display: none;
  }

  &__file {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 146px;
    cursor: pointer;
  }

  &__file > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #18e8a4;
    transform: rotate(45deg);
    border-radius: 8px;
    transition: all 200ms linear;
  }

  &__file:hover div {
    transform: rotate(-135deg);
    transition: all 200ms linear;
  }

  &__file > p {
    margin-left: 19px;
    display: inline-block;
    font-weight: normal;
    font-size: $font-size-secondary;
    line-height: 1.5;
    color: #000000;
  }

  &__text {
    margin-top: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #828893;
  }

  &__button {
    display: block;
    width: 280px;
    height: 59px;
    margin: 18px auto 0;
    background: #18e8a4;
    box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
      0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
      0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
    border: none;
    border-radius: 8px;
    font-weight: $font-weight-primary;
    font-size: $font-size-secondary;
    line-height: 120%;
    text-align: center;
    color: #073325;
    transition: box-shadow 300ms linear;
    cursor: pointer;

    @include for-size(tablet) {
      margin-top: 40px;
    }

    @include for-size(desktop-1440) {
      margin: 36px 0 0;
      width: 386px;
    }
  }

  &__button:hover,
  &__button:focus {
    box-shadow: 0px 6px 21px -2px rgba(22, 202, 99, 0.83);
    transition: box-shadow 300ms linear;
  }
}

.clip-image {
  fill: #000;
  width: 11px;
  height: 20px;
  transform: rotate(-45deg);
}
