$primary-text-color: #545460;
$title-text-color: #202524;
$secondary-text-color: #fff;
$button-background-color: #18e8a4;
$accent-color: #18e8a4;
$background-hero-color: #020213;

$font-primary: Helvetica Now Display, sans-serif;
$font-weight-primary: 900;
$font-size-primary: 32px;
$line-height-primary: 1.1;
$letter-spacing-primary: -1px;

$font-weight-secondary: 500;
$font-size-secondary: 16px;
$line-height-secondary: 1.8;
