html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  padding-top: 135px;
  padding-bottom: 63px;

  @include for-size(desktop) {
    padding-top: 162px;
    padding-bottom: 194px;
  }
}

.container--dark {
  background-color: $background-hero-color;
}

.container--grey-white {
  background-color: #d5d4d9;
}

.container--grey-dark {
  background-color: #aea9a8;
}

.container--less-dark {
  background-color: #001427;
}

.container--lite-purple {
  background-color: #fcf7f8;

  @include for-size(desktop-1440) {
    background-color: #fff;
  }
}

.hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.grey-shadow {
  box-shadow: 1px 17px 10px -7px rgba(34, 60, 80, 0.2) inset;
}
